@import url('https://fonts.cdnfonts.com/css/inter');

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

li > a {
  text-decoration: none;
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #403F3D;
  transform: scaleX(0);
  opacity: 0;
  transition: all 0.6s ease;
}

.underline:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

A IMG { 
  border: none;
}

/* Body */

.body {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  background: #E1D4C9;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  
}

.header_container {
  height: 60px;
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo {
  max-width: 100px;
  max-height: 60px;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1;
  align-self: stretch;
  list-style: none;
}

.header_coffee-menu_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  text-decoration: none;
}

.header_coffee-menu_flex_underline {
  position: relative;
}

.header_coffee-menu_flex_underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #403F3D;
}

.header_coffee-menu_flex :last-child {
  align-self: flex-start;
}

.font_menu_header {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

/* Menu */

.menu {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  margin-bottom: 101px;
}

.menu_container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 37px;
  align-self: stretch;
}

.menu_offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  padding-top: 20px;
}

.menu_offer_title {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  max-width: 800px;
  margin: 0;
  padding: 0;
}

.amazing {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.item_active {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #665F55;
  border-radius: 100px;
}

.icon_active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5px;
  border-radius: 100px;
  background: #E1D4C9;  
}

.tabs_font_active {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.item {
  display: flex;
  padding: 8px 15px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  transition: all 0.3s linear;
  cursor: pointer;
}

.item:hover {
  background: #665F55;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5px;
  border-radius: 100px;
  background: #C1B6AD; 
}


.tabs_font {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: all 0.3s linear;
}

.item:hover .tabs_font{
  color: #E1D4C9;
}

/* Menu grid */

.menu_flex {
  display: flex;
  max-width: 1360px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.menu_position {
  display: flex;
  max-width: 308px;
  height: 504px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  overflow: hidden;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 310px;
  height: 310px;
  border-radius: 40px;
}

.about_img {
  transition: 0.3s linear;
}

.about_img:hover{
  scale: 0.92;
}

.menu_position_description {
  display: flex;
  padding: 20px 20px 0px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 12px;
}

.font_description_title {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  align-self: stretch;
}

.font_description {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
}

.menu_position_price {
  display: flex;
  margin-top: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  align-items: flex-start;
  align-self: stretch;
}

.font_price {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  align-self: stretch;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0px 40px 0px 40px;
}

.footer_container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background: #665F55;
}

.footer_offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 530px;
}

.footer_offer_title {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.its_coffee_font {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socials_border {
  display: flex;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  transition: all 0.3s linear;
  cursor: pointer;
}

.socials_border:hover {
  background: #E1D4C9;
}

.socials_border:hover .arrow_hover {
  stroke: #403F3D;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 530px;
}

.contacts-us {
  align-self: stretch;
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.contacts_info_link {
  text-decoration: none;
}

.address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 4px;
}

.underline_address {
  position: relative;
}

.underline_address::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #E1D4C9;
  transform: scaleX(0);
  opacity: 0;
  transition: all 0.6s ease;
}

.underline_address:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.address_font {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding: 0;
  margin: 0;
}

