@import url('https://fonts.cdnfonts.com/css/inter');

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

li > a {
  text-decoration: none;
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #403F3D;
  transform: scaleX(0);
  opacity: 0;
  transition: all 0.6s ease;
}

.underline:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

A IMG { 
  border: none;
}

/* Body */

.body {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  background: #E1D4C9;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.header_container {
  height: 60px;
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo {
  max-width: 100px;
  max-height: 60px;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1;
  align-self: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_coffee-menu_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  text-decoration: none;
}


.header_coffee-menu_flex :last-child {
  align-self: flex-start;
}


.font_menu_header {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}


.enjoy {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-bottom: 102px;
}

.enjoy_container {
  display: flex;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  background: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.offer {
  display: flex;
  max-width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.header_button {
  position: relative;
  display: flex;
  width: 160px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #E1D4C9;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.header_button:hover .header_button_font {
  transform: translateX(-13.5px);
}

.header_button:hover .cup_of_coffee {
  opacity: 1;
}

.burger_menu_flex {
  box-sizing: border-box;
  display: none;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
}

.burger_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.font_enjoy {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
}

.first-word {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-style: italic;
  font-weight: 600;
  line-height: 105%; 
}

.font_description {
  align-self: stretch;
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 0;
}

.header_button_font {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding: 0;
  margin: 0;
  transition: all 0.2s ease-in;
}

.cup_of_coffee {
  position: absolute;
  top: 47%;
  left: 58.5%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: all 0.2s ease-in;
}

/* Favorite coffee */

.favorite-coffee {
  display: flex;
  margin: 0px 44px 100px 44px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.favorite-coffee_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.favorite-coffee_font {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin: 0;
  padding: 0;
}

.favorite_font {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.slider_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.button-icon-dark {
  margin-bottom: 2px;
  display: flex;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  transition: all 0.3s linear;
  cursor: pointer;
}

.button-icon-dark:hover {
  background: #665F55;
}

.arrow {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.arrow_hover {
  transition: all 0.3s linear;
}

.button-icon-dark:hover .arrow_hover {
  stroke: #E1D4C9;
}

.row-slider {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img_slider_box {
  max-width: 480px;
  max-height: 480px;
}

.img_slider {
  width: 100%;
  height: 100%;
}

.slider_description {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.font_description_slider_title {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  align-self: stretch;
}

.font_description_slider {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
}

.slider_price {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  align-self: stretch;
}

.controls {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.control_active {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #665F55;
}

.control_non-active {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  padding: 0px 40px 0px 40px;
  margin-bottom: 100px;
}

.about_container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.about_description {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 59.8px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  align-self: stretch;
}

.the_perfect {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 59.8px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.images {
  display: flex;
  gap: 40px;
}

.images_column1 {
  display: grid;
  grid-template-columns: minmax(0, 660px);
  grid-template-rows: minmax(0, 590px) minmax(0, 430px);
  gap: 40px;
}

.images_column2 {
  display: grid;
  grid-template-columns: minmax(0, 660px);
  grid-template-rows: minmax(0, 430px) minmax(0, 590px);
  gap: 40px;
}

.hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.about_img {
  transition: 0.3s linear;
}

.about_img:hover{
  scale: 0.91;
}

/* Mobile app */

.mobile-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  padding: 0px 40px 0px 40px;
  margin-bottom: 100px;
}

.mobile-app_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.mobile-app_offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 50%;
}

.mobile-app_title {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.download {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.mobile-app_description {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.buttons {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.market {
  box-sizing: border-box;
  display: flex;
  width: 200px;
  padding: 11px 0px 11px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665F55;
  transition: all 0.3s linear;
  cursor: pointer;
}

.buttons_hover {
  transition: all 0.3s linear;
}

.market:hover {
  background: #665F55;
}

.market:hover .buttons_hover {
  fill: #E1D4C9;
}

.market_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.market_description {
  color: #403F3D;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
  transition: color 0.3s linear;
}

.market_store {
  color: #403F3D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: color 0.3s linear;
}

.market:hover .market_description {
  color: #E1D4C9;
}

.market:hover .market_store {
  color: #E1D4C9;
}

.mobile_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 630px ;
}

.mobile-screens_img {
  max-width: 100%;
  max-width: 100%;
  
}
/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0px 40px 0px 40px;
}

.footer_container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background: #665F55;
}

.footer_offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 50%;
}

.footer_offer_title {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}

.its_coffee_font {
  color: #B0907A;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socials_border {
  display: flex;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border:  1px solid #C1B6AD;
  transition: all 0.3s linear;
  cursor: pointer;
}

.socials_border:hover {
  background: #E1D4C9;
}

.socials_border:hover .arrow_hover {
  stroke: #403F3D;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 50%;
}

.contacts-us {
  align-self: stretch;
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.contacts_info_link {
  text-decoration: none;
}

.address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 4px;
}

.underline_address {
  position: relative;
}

.underline_address::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #E1D4C9;
  transform: scaleX(0);
  opacity: 0;
  transition: all 0.6s ease;
}

.underline_address:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.address_font {
  color: #E1D4C9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding: 0;
  margin: 0;
}

/* Media */

@media screen and (max-width: 768px) {
  .header_nav {
    display: none;
  }

  .header_coffee-menu_flex {
    display: none;
  }

  .burger_menu_flex {
    display: flex;
  }

  .enjoy_container {
    padding: 100px 60px;
  }

  .header_button_font {
    transform: translateX(-14px);
  }

  .cup_of_coffee {
    opacity: 1;
    left: 58%;
    top: 51%;
  }

  .favorite-coffee {
    margin: 0px 40px 100px 40px;
  }

  .images {
    flex-direction: column;
    gap: 40px;
  }

  .images_column1 {
    display: grid;
    box-sizing: content-box;
    grid-template-columns: minmax(0, 688px);
    grid-template-rows: minmax(0, 591px);
  }

  .images_column2 {
    display: grid;
    grid-template-columns: minmax(0, 688px);
    grid-template-rows: minmax(0, 590px);
  }

  .images_column1 .hidden:last-child {
    display: none;
  }

  .images_column2 .hidden:first-child {
    display: none;
  }

  .mobile-app_container {
    flex-direction: column;
  }

  .mobile-app_offer {
    width: 100%;
  }

  .mobile_box {
    width: 100%;
  }

  .footer_container {
    padding: 100px 60px;
    flex-direction: column;
  }

  .footer_offer {
    width: 100%;
  }

  .contacts {
    width: 100%;
  }

}
